.parent{
    border: 8px inset #bca37f;
    border-radius: 5px;
    height: 80vh;
    width: 80vw;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.display{
    height : 10vh;
    width: 70vw;
    margin-top: 8px;
}

.display div{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls{
    height: 10vh;
    position: absolute;
    bottom:8px;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button{
    width: 160px;
    padding: 8px;
    border-radius: 10px;
background: linear-gradient(145deg, #75717d, #625f69);
box-shadow:  22px 22px 100px #38363c,
             -22px -22px 100px #a29eae;
             color: white;
}

.controls button:hover{
    border-radius: 10px;
background: linear-gradient(145deg, #625f69, #75717d);
box-shadow:  22px 22px 100px #38363c,
             -22px -22px 100px #a29eae;
}

.overlook{
    position: absolute;
    bottom: 10vh;
    width: 100%;
    height: 50%;
    z-index: 2;
}

.waves{
    position: relative;
}

.mediumWaves{
    height: 4vw;
}

.wave{
    position: absolute;
    bottom: 0;
    transform: scaleY(0.7) translateY(60px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.041), rgba(245, 245, 220, 0));
    animation-name: wave;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.wave1{
    animation-delay: 0s;
}

.wave2{
    animation-delay: 1s;
    z-index: -1;
}

.wave3{
    animation-delay: 2s;
    z-index: -1;
}

.wave4{
    animation-delay: 3s;
}


.sun{
    height: 200px;
    width: 100%;
    padding-right: 5vw;
    position: absolute;
    bottom: 25vh;
    animation-name: sun;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.sun img{
    height: 200px;
    width: 200px;
    float: right;
}

.music{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px;
}

.music img{
    height: 30px;
    width: 30px;
}

.music .slash{
    position: absolute;
    bottom: -5px;
    right: 8px;
    z-index: 1;
    color: red;
    font-size: xx-large;
    font-weight: bolder;
}

.disabled{
    opacity: 0.5;
}

.ship-container{
    position: absolute;
    bottom: 12vh;
    width: 100%;
}

.ship-container-2{
    position: absolute;
    bottom: 16vh;
    width: 100%;
}

.ship{
    width: 100px;
    aspect-ratio: 1;
}

.ship-2{
    width: 100px;
    aspect-ratio: 1;
    transform: translate(0, 20px);
}

.ship img{
    animation-name: shipwave;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.shipcome{
    animation-name: shipcome;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.shipgo{
    animation-name: shipgo;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.drowned{
    margin-left: 43%;
    animation-name: drowned;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes drowned {
    0%{
        opacity: 1;
    }
    50%{
        transform: translateY(-80px) rotate(90deg);
        opacity: 1;
    }
    100%{
        transform: rotate(90deg);
        opacity: 0;
    }
}

@keyframes shipcome {
    0%{
        opacity: 0;
    }
    100%{
        margin-left: 43%;
    }
}

@keyframes shipgo {
    0%{
        margin-left: 43%;
    }
    100%{
        margin-left: 80%;
        opacity: 0;
    }
}

@keyframes wave {
    50%{
        transform: scaleY(0.7) translateY(50px);
    }
}

@keyframes shipwave {
    33%{
        transform: rotate(2deg);
    }
    66%{
        transform: rotate(-2deg);
    }
}

@keyframes sun {
    50%{
        transform: translateY(-20px);
    }
}