@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: x-large;
}

body{
    background-color: beige;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #68410a; /* Customize the color of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: beige; /* Customize the color of the track */
  }
  